input[type*="submit"] {
  display: none;
  border: none;
  &::focus {
    outline: none;
  }
}

input {
  border: none;
  &::focus {
    outline-style: none;
  }
}

.btn {
  padding: 10px;
  border-radius: 4px;
  background-color: $primaryColor;
  color: white;
  border-color: $primaryColor;
  outline-style: none;
  margin-left: 10px;
  cursor: pointer;
  &:hover {
    background-color: firebrick;
    color: white;
  }
}

.btn-link {
  cursor: pointer;
  text-decoration: none;
  color: $primaryColor;
  background-color: transparent;
  border: transparent;
  padding: 5px;
  font-weight: 700;
  &:hover,
  &:active,
  &:visited {
    color: $primaryColor;
  }
}
