* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../assets/images/bg.jpg);
  background-position: top;

  /* background-color: #292c34; */
  font-family: "Roboto", sans-serif;
}

header {
  background-color: whitesmoke;
  text-align: center;
  font-size: 16px;
  font-family: "Pacifico", cursive;
  padding: 10px;
}

main {
  margin: auto;
}

#container {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
}

.form-control {
  padding: 10px;
  border-radius: 4px;
  width: 250px;
}

input[type*="submit"] {
  display: none;
}

.btn {
  padding: 10px;
  border-radius: 4px;
  background-color: crimson;
  color: white;
  border-color: crimson;
  outline-style: none;
  cursor: pointer;
}

.btn:hover {
  background-color: firebrick;
  color: white;
  outline-style: none;
}

.complete {
  background-color: ghostwhite;
  padding: 10px;
  width: 250px;
  margin: 10px auto;
}
