@import "./variables";
@import "./header";
@import "./inputs";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url($backgroundImage);
  // background-color: rgb(32, 32, 32);
  background-position: top;
  font-family: "Roboto", sans-serif;
  main {
    margin: auto;
  }
}

.container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form-control {
  @include setPadding(10px);
  border-radius: 4px;
  width: 450px;
}

.todo {
  background-color: ghostwhite;
  @include setPadding(10px);
  width: 450px;
  margin: 10px;
}
